body  {
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  height: 11px;
  background-color: #e6e6e6;
}

.navbar a {
  font-size: 9px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

.navbar a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0
  padding: 0
}
